{
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-react",
    "es2015-rollup",
    "@babel/preset-env",
    {
      "useBuiltIns": "usage", // "usage" | "entry" | false, defaults to false.
      "corejs": "3.0.0",
      "targets": {
        "esmodules": true,
        "ie": "11"
      }
    }
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-jsx",
    "transform-es2015-modules-commonjs"
  ]
}
