html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Video list global styles */
.video-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.video-item {
  list-style: none;
  margin: 1em;
  border-radius: 16px;
  overflow: hidden;
}
