h1, p {
  font-family: Lato;
}

.js-plyr
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.plyrwrapper{
    height: 90%;
    width: 90%;
    margin: auto;
}
